// Server Section
//
// Written by:
// - N.L.M. Nishshanka

.section-server {
	.content {
		.illustration {
			padding-top: 128px;
			text-align: center;
		}

		.message {
			padding-top: 64px;
			font-size: 18px;
			font-weight: 200;

			text-align: center;

			.bold {
				font-weight: 400;
			}

			.line {
				margin: 32px 64px;
				border: 1px solid transparent;
			}

			a {
				font-size: 16px;
				font-weight: 300;
				color: #3F3D56;
				text-decoration: none;
			}

			a:hover,
			a:focus {
				cursor: pointer;
				text-decoration: none;
				font-weight: 500;
			}
		}
	}

	.footer {
		background-color: #EAEAEA;
		color: #555555;
		text-align: center;
		font-size: 12px;
		padding-top: 16px;
		min-height: 48px;
		min-width: 100%;
		position: fixed;
		left: 0;
		bottom: 0;
	}
}