<!-- Dashboard Page
	--
	-- Developed by Chanaka Nandasiri
	-->

{{template "head.tmpl" .}}

{{template "navbar.tmpl" .}}

<!-- Page Body -->

<div class="grid">
    <div class="column-3">
        <!-- {{template "panel_team.tmpl" .}} -->
    </div>

    <div class="column-6">
        <!-- Project Create and List -->

        <div class="project-panal">
            <div class="top">
                <div class="grid">
                    <div class="column-6">
                        <a id="btn-create-new-project" data-target="#create-new-project" data-toggle="modal"
                            href="#create-new-project">
                            <div class="create-project">
                                <i class="fa-solid fa-cube"></i>
                            </div>

                            <div class="create-project-name">Create new Project</div>
                        </a>
                    </div>

                    <div class="column-6">
                        <div class="dashboard-details">
                            <div class="title">{{.Dashboard_Name}}</div>
                            <div class="sub-title">{{.Dashboard_Description}}</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="line"></div>

            <div class="bottom">
                <div class="grid">
                    <div class="column-6">
                        <div class="title">Recent Codinoc Projects</div>

                        <div class="grid">
                            {{if ne .Is_Project_01 ""}}
                            <div class="column-12">
                                <a href="/editor?project={{.Project_01_Code}}">
                                    <div class="project-card">
                                        <i class="fa fa-window-maximize" aria-hidden="true"></i>
                                        <p>{{.Project_01_Name}}</p>
                                    </div>
                                </a>
                            </div>
                            {{end}}

                            {{if ne .Is_Project_02 ""}}
                            <div class="column-12">
                                <a href="/editor?project={{.Project_02_Code}}">
                                    <div class="project-card">
                                        <i class="fa fa-window-maximize" aria-hidden="true"></i>
                                        <p>{{.Project_02_Name}}</p>
                                    </div>
                                </a>
                            </div>
                            {{end}}

                            {{if ne .Is_Project_03 ""}}
                            <div class="column-12">
                                <a href="/editor?project={{.Project_03_Code}}">
                                    <div class="project-card">
                                        <i class="fa fa-window-maximize" aria-hidden="true"></i>
                                        <p>{{.Project_03_Name}}</p>
                                    </div>
                                </a>
                            </div>
                            {{end}}

                            {{if ne .Is_Project_04 ""}}
                            <div class="column-12">
                                <a href="/editor?project={{.Project_04_Code}}">
                                    <div class="project-card">
                                        <i class="fa fa-window-maximize" aria-hidden="true"></i>
                                        <p>{{.Project_04_Name}}</p>
                                    </div>
                                </a>
                            </div>
                            {{end}}

                            {{if ne .Is_Project_05 ""}}
                            <div class="column-12">
                                <a href="/editor?project={{.Project_05_Code}}">
                                    <div class="project-card">
                                        <i class="fa fa-window-maximize" aria-hidden="true"></i>
                                        <p>{{.Project_05_Name}}</p>
                                    </div>
                                </a>
                            </div>
                            {{end}}

                            {{if ne .Is_Project_05 ""}}
                            <div class="column-12">
                                <a href="/editor?project={{.Project_05_Code}}">
                                    <div class="project-card">
                                        <i class="fa fa-window-maximize" aria-hidden="true"></i>
                                        <p>{{.Project_05_Name}}</p>
                                    </div>
                                </a>
                            </div>
                            {{end}}

                            {{if ne .Is_Project_06 ""}}
                            <div class="column-12">
                                <a href="/editor?project={{.Project_06_Code}}">
                                    <div class="project-card">
                                        <i class="fa fa-window-maximize" aria-hidden="true"></i>
                                        <p>{{.Project_06_Name}}</p>
                                    </div>
                                </a>
                            </div>
                            {{end}}

                            {{if ne .Is_Project_07 ""}}
                            <div class="column-12">
                                <a href="/editor?project={{.Project_07_Code}}">
                                    <div class="project-card">
                                        <i class="fa fa-window-maximize" aria-hidden="true"></i>
                                        <p>{{.Project_07_Name}}</p>
                                    </div>
                                </a>
                            </div>
                            {{end}}

                            {{if ne .Is_Project_08 ""}}
                            <div class="column-12">
                                <a href="/editor?project={{.Project_08_Code}}">
                                    <div class="project-card">
                                        <i class="fa fa-window-maximize" aria-hidden="true"></i>
                                        <p>{{.Project_08_Name}}</p>
                                    </div>
                                </a>
                            </div>
                            {{end}}

                            {{if ne .Is_Project_09 ""}}
                            <div class="column-12">
                                <a href="/editor?project={{.Project_09_Code}}">
                                    <div class="project-card">
                                        <i class="fa fa-window-maximize" aria-hidden="true"></i>
                                        <p>{{.Project_09_Name}}</p>
                                    </div>
                                </a>
                            </div>
                            {{end}}

                            {{if ne .Is_Project_10 ""}}
                            <div class="column-12">
                                <a href="/editor?project={{.Project_10_Code}}">
                                    <div class="project-card">
                                        <i class="fa fa-window-maximize" aria-hidden="true"></i>
                                        <p>{{.Project_10_Name}}</p>
                                    </div>
                                </a>
                            </div>
                            {{end}}
                        </div>
                    </div>

                    <div class="column-6">
                        <div class="title" style="margin-left: 64px">
                            Server Dashboard Wiki
                            <span class="icon">
                                <a id="btn-edit-dashboard-wiki" data-target="#edit-dashboard-wiki" data-toggle="modal"
                                    href="#edit-dashboard-wiki">
                                    <i class="fa-solid fa-marker"></i>
                                </a>
                            </span>
                        </div>

                        <div class="wiki-card">{{.Wiki_Content}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="column-3">
        <!-- {{template "panel_chat.tmpl" .}} -->
    </div>
</div>

{{template "modal.tmpl" .}}

<!-- {{template "footer.tmpl" .}} -->

{{template "bottom.tmpl" .}}