<!-- About Page
	--
	-- Developed by Piyumi Prasandika
	-->

{{template "head.html" .}}

<body>

<div class="section-non-logged">
	{{template "navbar.html" .}}

	<div class="about">
		<div class="title">About project Codinoc IDE</div>
		<div class="sub-title">Introduction</div>
		<div class="content">XXX</div>
		<div class="sub-title">Requirements</div>
		<div class="content">XXX</div>
		<div class="sub-title">Developers</div>
		<div class="content">XXX</div>
	</div>

	{{template "footer.html" .}}
</div>

{{template "bottom.html" .}}
