<!-- About Page
	--
	-- Developed by Piyumi Prasandika
	-->

{{template "head.tmpl" .}}

<body>

<div class="section-non-logged">
	{{template "navbar.tmpl" .}}

	<div class="about">
		<div class="title">About project Codinoc IDE</div>
		<div class="sub-title">Introduction</div>
		<div class="content">XXX</div>
		<div class="sub-title">Requirements</div>
		<div class="content">XXX</div>
		<div class="sub-title">Developers</div>
		<div class="content">XXX</div>
	</div>

	{{template "footer.tmpl" .}}
</div>

{{template "bottom.tmpl" .}}
