<!-- Contact Page
	--
	-- Developed by Piyumi Prasandika
	-->

{{template "head.tmpl" .}}

<body>

<div class="section-non-logged">
	{{template "navbar.tmpl" .}}

	<div class="contact">
		<div class="title">Contact CODINOC Developers</div>
		<div class="email">
			<p>To contact us, please send an email to:</p>
			<a href="mailto://contact@codinoc.com">contact@codinoc.com</a>
		</div>
	</div>

	{{template "footer.tmpl" .}}
</div>

{{template "bottom.tmpl" .}}
