<!-- Create Server Page
	--
	-- Developed by Piyumi Prasandika
	-->

{{template "head.tmpl" .}}

<body>

	<div class="section-non-logged">
		<div class="form">
			<div class="title">Create a Fresh Codinoc Server</div>

			<div class="grid grid-center item-center">
				<div class="column-4">
					<div class="box">

						<form method="POST" action="/create_server" enctype="application/x-www-form-urlencoded">
							<div class="grid">
								<div class="column-6">
									<div class="label">Server Name</div>
								</div>
								<div class="column-6">
									<div class="label"><span class="right error">* Error Message</span></div>
								</div>
							</div>

							<input name="input_sname" type="text">

							<div class="grid grid-end">
								<button type="submit">Next</button>
							</div>

							<div class="line"></div>

						</form>
						<div class="link">Already have a Server? <a href="/account_select">Sign In</a></div>

					</div>
				</div>
			</div>
		</div>

		{{template "footer_form.tmpl" .}}
	</div>

	{{template "bottom.tmpl" .}}