<!-- Create Server Page
	--
	-- Developed by Piyumi Prasandika
	-->

{{template "head.html" .}}

<body>

	<div class="section-non-logged">
		<div class="form">
			<div class="title">Create a Fresh Codinoc Server</div>

			<div class="grid grid-center item-center">
				<div class="column-4">
					<div class="box">

						<form method="POST" action="/create_server" enctype="multipart/form-data">
							<div class="grid">
								<div class="column-6">
									<div class="label">Server Name</div>
								</div>
								<div class="column-6">
									<div class="label"><span class="right error">* Error Message</span></div>
								</div>
							</div>

							<input name="input_sname" type="text">

							<div class="grid grid-end">
								<button type="submit">Next</button>
							</div>

							<div class="line"></div>

							<div class="link">Already have a Server? <a href="/account_select">Sign In</a></div>
						</form>

					</div>
				</div>
			</div>
		</div>

		{{template "footer_form.html" .}}
	</div>

	{{template "bottom.html" .}}