<!-- Create Administrator account for the Server Page
	--
	-- Developed by Piyumi Prasandika
	-->

{{template "head.html" .}}

<body>

	<div class="section-non-logged">
		<div class="form">
			<div class="title">Create Administrator Account for Server <span class="bold">{NAME}</span></div>

			<div class="grid grid-center item-center">
				<div class="column-4">
					<div class="box">
						<form>
							<div class="grid">
								<div class="column-6">
									<div class="label">Email Address</div>
								</div>
								<div class="column-6">
									<div class="label"><span class="right error">* Error Message</span></div>
								</div>
							</div>

							<input id="input_email" type="email" placeholder="">

							<div class="grid">
								<div class="column-6">
									<div class="label">Password</div>
								</div>
								<div class="column-6">
									<div class="label"><span class="right error">* Error Message</span></div>
								</div>
							</div>

							<input id="input_psw" type="password" placeholder="">

							<div class="grid">
								<div class="column-6">
									<div class="label">Confirm Password</div>
								</div>
								<div class="column-6">
									<div class="label"><span class="right error">* Error Message</span></div>
								</div>
							</div>

							<input id="input_cnfpsw" type="password" placeholder="">

							<div class="grid grid-end">
								<button>Create Server</button>
							</div>

							<div class="line"></div>

							<div class="link">Already have a Server? <a href="/account_select">Sign In</a></div>
						</form>
					</div>
				</div>
			</div>
		</div>

		{{template "footer_form.html" .}}
	</div>

	{{template "bottom.html" .}}