<!-- Home Page
	--
	-- Developed by Piyumi Prasandika
	-->

{{template "head.tmpl" .}}

<body>

<div class="section-non-logged">
	{{template "navbar.tmpl" .}}

	<div class="home">
		<div class="title">CODINOC IDE</div>
		<div class="sub-title">Built for Developers by Developers</div>
	</div>

	{{template "footer.tmpl" .}}

</div>

{{template "bottom.tmpl" .}}
