<!-- Legal Page
	--
	-- Developed by Piyumi Prasandika
	-->

{{template "head.tmpl" .}}

<body>

<div class="section-non-logged">
	{{template "navbar.tmpl" .}}

	<div class="legal">
		<div class="title">Terms and Conditions</div>
		<div class="content">XXX</div>
	</div>

	<div class="legal">
		<div class="title">License</div>
		<div class="content">XXX</div>
	</div>

	{{template "footer.tmpl" .}}
</div>

{{template "bottom.tmpl" .}}
