<!-- Update Password Page
	--
	-- Developed by Piyumi Prasandika
	-->

{{template "head.html" .}}

<body>

	<div class="section-non-logged">
		<div class="form">
			<div class="title">Create New Password for <span class="bold">sample@sample.com</span></div>

			<div class="grid grid-center item-center">
				<div class="column-4">
					<div class="box">
						<form>
							<div class="grid">
								<div class="column-6">
									<div class="label">New Password</div>
								</div>
								<div class="column-6">
									<div class="label"><span class="right error">* Error Message</span></div>
								</div>
							</div>

							<input id="input_psw" type="password" placeholder="">

							<div class="grid">
								<div class="column-6">
									<div class="label">Confirm New Password</div>
								</div>
								<div class="column-6">
									<div class="label"><span class="right error">* Error Message</span></div>
								</div>
							</div>

							<input id="input_cnfpsw" type="password" placeholder="">

							<div class="grid grid-end">
								<button>Reset Password</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>

		{{template "footer_form.html" .}}
	</div>

	{{template "bottom.html" .}}