<!-- Password Reset Page
	--
	-- Developed by Piyumi Prasandika
	-->

{{template "head.tmpl" .}}

<body>

	<div class="section-non-logged">

		<div class="form">
			<div class="title">Reset Password</div>

			<div class="grid grid-center item-center">
				<div class="column-4">
					<div class="box">
						<form method="POST" action="/process/common/reset_password" enctype="application/x-www-form-urlencoded">
							<div class="grid">
								<div class="column-6">
									<div class="label">Server Code</div>
								</div>
								<div class="column-6">
									<div class="label"><span class="right error">{{.Server_Error}}</span></div>
								</div>
							</div>

							<input name="input_scode" type="text" placeholder="" required>

							<div class="grid">
								<div class="column-6">
									<div class="label">Administrator Email Address</div>
								</div>
								<div class="column-6">
									<div class="label"><span class="right error">{{.Email_Error}}</span></div>
								</div>
							</div>

							<input name="input_email" type="email" placeholder="" required>

							<div class="grid grid-end">
								<button type="submit">Send Instructions</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>

		{{template "footer_form.tmpl" .}}
	</div>

	{{template "bottom.tmpl" .}}