<!-- Member Sign in to the Server Page
	--
	-- Developed by Piyumi Prasandika
	-->

{{template "head.tmpl" .}}

<body>

	<div class="section-non-logged">
		<div class="form">
			<div class="title">Sign into Server as a Member</div>

			<div class="grid grid-center item-center">
				<div class="column-4">
					<div class="box">
						<form method="POST" action="/process/common/signin_member" enctype="application/x-www-form-urlencoded">
							<div class="grid">
								<div class="column-6">
									<div class="label">Server Code</div>
								</div>
								<div class="column-6">
									<div class="label"><span class="right error">{{.Error_Server}}</span></div>
								</div>
							</div>

							<input name="input_scode" type="text" placeholder="" minlength="4" required>

							<div class="grid">
								<div class="column-6">
									<div class="label">User Name</div>
								</div>
								<div class="column-6">
									<div class="label"><span class="right error"></span></div>
								</div>
							</div>

							<input name="input_name" type="text" placeholder="" minlength="4" required>

							<div class="grid">
								<div class="column-6">
									<div class="label">Password</div>
								</div>
								<div class="column-6">
									<div class="label"><span class="right error"></span></div>
								</div>
							</div>

							<input name="input_password" type="password" placeholder="" minlength="4" required>

							<div class="grid grid-end">
								<button>Sign In</button>
							</div>

							<div class="line"></div>

							<div class="link">Don't have a Server? <a href="/create_server">Create a New Server</a></div>
						</form>
					</div>
				</div>
			</div>
		</div>

		{{template "footer_form.tmpl" .}}
	</div>

	{{template "bottom.tmpl" .}}