<!-- Site Map Page
	--
	-- Developed by Piyumi Prasandika
	-->

{{template "head.html" .}}

<body>

<div class="section-non-logged">
	{{template "navbar.html" .}}

	<div class="site-map">
		<div class="title">Site Map</div>

		<div class="sub-title">Common Section</div>
		<div class="item"><a href="#">Home</a></div>
		<div class="item"><a href="#">Contact</a></div>
		<div class="item"><a href="#">About</a></div>
		<div class="item"><a href="#">Legal</a></div>

		<div class="sub-title">Non Logged Section</div>
		<div class="item"><a href="#">Sign In</a></div>
		<div class="item"><a href="#">Sign Up</a></div>

		<div class="sub-title">Logged Section</div>
		<div class="item"><a href="#">Dashboard</a></div>
		<div class="item"><a href="#">Editor</a></div>
	</div>

	{{template "footer.html" .}}
</div>

{{template "bottom.html" .}}
