<div class="navbar">
    <div class="dropdown">
        <button class="" onclick="logged_nav_menu()">
            <i class="fa-solid fa-bars"></i>
        </button>
        <div class="drop-content dropdown-menu" id="dropdown-menu">
            <p class="title">Project</p>
            <p class="item"><a href="#"><i class="fa-solid fa-folder-plus"></i>Create New Project</a></p>
            <p class="item"><a href="#"><i class="fa-solid fa-circle-xmark"></i>Close Current Project</a></p>
            <p class="title">Run</p>
            <p class="item"><a href="#"><i class="fa-solid fa-up-right-from-square"></i>Preview Once</a></p>
            <p class="item"><a href="#"><i class="fa-solid fa-play"></i>Live Preview</a></p>
            <p class="title">Compile</p>
            <p class="item"><a href="#"><i class="fa-brands fa-sass"></i>Compile SCSS</a></p>
            <p class="item"><a href="#"><i class="fa-brands fa-js"></i>Compile JS</a></p>
            <p class="title">Export</p>
            <p class="item"><a href="#"><i class="fa-solid fa-cloud-arrow-down"></i>Export Project</a></p>
        </div>
    </div>

    <span>CODINOC IDE <b>{{.Navbar_Name}}</b></span>

    <div class="dropdown">
        <button class="right" onclick="logged_nav_settings()">
            <i class="fa-solid fa-gear"></i>
        </button>
        <div class="drop-content dropdown-settings" id="dropdown-settings">
            <p class="title">User</p>
            <p class="item">
                <a id="btn-user-profile" data-target="#user-profile" data-toggle="modal" href="#user-profile"><i
                        class="fa-solid fa-user"></i>User Profile</a>
            </p>
            <p class="title">Server</p>
            <p class="item"><a id="btn-server-profile" data-target="#server-profile" data-toggle="modal"
                    href="#server-profile"><i class="fa-solid fa-server"></i>Server Profile</a></p>
            <p class="item"><a id="btn-server-team" data-target="#server-team" data-toggle="modal"
                    href="#server-team"><i class="fa-solid fa-people-group"></i>Server Team</a></p>
            <p class="title">Account</p>
            <p class="item"><a href="/sign_out"><i class="fa-solid fa-arrow-right-from-bracket"></i>Log Out</a></p>
            <p class="title">Help</p>
            <p class="item"><a href="#"><i class="fa-solid fa-circle-question"></i>Help</a></p>
            <p class="item"><a href="#"><i class="fa-solid fa-comment-dots"></i>Feedback</a></p>
        </div>
    </div>

    <div class="dropdown">
        <button class="right" onclick="logged_nav_notification()">
            <i class="fa-solid fa-bell"></i>
        </button>
        <div class="drop-content dropdown-notify" id="dropdown-notification">
            <div class="item">
                <div class="notification">
                    <div class="grid">
                        <div class="column-3">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRBwgu1A5zgPSvfE83nurkuzNEoXs9DMNr8Ww&usqp=CAU"
                                alt="profile-name">
                        </div>
                        <div class="column-6">
                            <div class="name">Riley Raid</div>
                            <div class="time">10:59 P.M.</div>
                        </div>
                    </div>

                    <div class="message">Sample Notification Content 01</div>
                </div>
            </div>

            <div class="item">
                <div class="notification">
                    <div class="grid">
                        <div class="column-3">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRBwgu1A5zgPSvfE83nurkuzNEoXs9DMNr8Ww&usqp=CAU"
                                alt="profile-name">
                        </div>
                        <div class="column-6">
                            <div class="name">Riley Raid</div>
                            <div class="time">10:59 P.M.</div>
                        </div>
                    </div>

                    <div class="message">Sample Notification Content 02</div>
                </div>
            </div>
        </div>
    </div>
</div>