<div class="chat-panel">
    <div class="panel-title">
        Team Chat
        <span class="right">
            <i class="fa-solid fa-comment"></i>
        </span>
    </div>

    <div class="chat-box">
        <div class="message-sent">
            <div class="message">Sample Message</div>
            <div class="name-time">@ 10:50 A.M.</div>
        </div>

        <div class="message-receive">
            <div class="message">Sample Message</div>
            <div class="name-time"><b>Lasan Nishshanka</b> @ 10:50 A.M.</div>
        </div>

        <div class="message-sent">
            <div class="message">Sample Message</div>
            <div class="name-time">@ 10:50 A.M.</div>
        </div>

        <div class="message-receive">
            <div class="message">Sample Message</div>
            <div class="name-time"><b>Lasan Nishshanka</b> @ 10:50 A.M.</div>
        </div>
    </div>

    <div class="sent-box">
        <input type="text">
        <button><i class="fa-solid fa-paper-plane"></i></button>
    </div>
</div>