<div class="team-panel">
  <div class="panel-title">
    Current Online Members
    <span class="right">
      <i class="fa-solid fa-user-group"></i>
    </span>
  </div>

  <div class="member">Member 01</div>
  <div class="member">Member 02</div>
  <div class="member">Member 03</div>
  <div class="member">Member 04</div>
</div>