// Non Logged Section
//
// Written by:
// - E.L.P. Prasandika

.section-non-logged {
	.top-nav {
		overflow: hidden;
		background-color: #FFFFFF;
		border-bottom: 1px solid #EAEAEA;
		margin-bottom: 24px;

		.right {
			float: right;
		}

		a {
			float: left;
			display: block;
			padding: 14px 16px;
			text-align: center;
			text-decoration: none;
			color: #252525;
			font-weight: 400;
			font-size: 14px;
		}

		a:hover,
		a:focus {
			cursor: pointer;
			font-weight: 600;
			text-decoration: none;
		}
	}

	.footer {
		background-color: #EAEAEA;
		color: #252525;
		text-align: center;
		font-size: 12px;
		padding-top: 16px;
		min-height: 48px;
		min-width: 100%;
		position: fixed;
		left: 0;
		bottom: 0;

		a {
			color: #3F3D56;
			text-decoration: none;
		}

		a:focus,
		a:hover {
			cursor: pointer;
			font-weight: 600;
		}
	}

	.home {
		margin-top: 96px;
		text-align: center;

		.title {
			color: #252525;
			font-size: 48px;
			font-weight: 100;
			margin-bottom: 32px;
		}

		.sub-title {
			font-size: 18px;
			font-weight: 400;
			color: #555555;
		}
	}

	.legal {
		margin-left: 16px;
		margin-right: 16px;

		.title {
			color: #080808;
			font-size: 24px;
			margin-bottom: 32px;
		}

		.content {
			color: #252525;
			font-size: 16px;
			word-wrap: break-word;
			margin-bottom: 64px;
		}
	}

	.about {
		margin-left: 16px;
		margin-right: 16px;

		.title {
			color: #080808;
			font-size: 24px;
			margin-bottom: 32px;
		}

		.sub-title {
			color: #080808;
			font-size: 18px;
			margin-bottom: 16px;
			font-weight: 600;
		}

		.content {
			color: #252525;
			font-size: 16px;
			word-wrap: break-word;
			margin-bottom: 64px;
		}
	}

	.contact {
		margin-left: 16px;
		margin-right: 16px;

		.title {
			color: #080808;
			font-size: 24px;
			margin-bottom: 32px;
			text-align: center;
		}

		.email {
			padding: 32px;
			margin: 64px;
			border-radius: 10px;
			border: 1px solid #EAEAEA;
			background-color: #FAFAFA;
			text-align: center;

			a {
				color: #B032E7;
				text-decoration: none;
			}

			a:focus,
			a:hover {
				cursor: pointer;
				font-weight: 600;
			}
		}
	}

	.site-map {
		margin-left: 16px;
		margin-right: 16px;

		.title {
			color: #080808;
			font-size: 24px;
			margin-bottom: 32px;
		}

		.sub-title {
			color: #080808;
			font-size: 18px;
			margin-top: 16px;
			margin-bottom: 16px;
			font-weight: 600;
		}

		.item {
			color: #252525;
			font-size: 16px;
			word-wrap: break-word;
			margin: 8px;

			a {
				color: #B032E7;
				text-decoration: none;
			}

			a:focus,
			a:hover {
				cursor: pointer;
				font-weight: 600;
			}
		}
	}

	.sign-in {
		.select-box {
			padding-top: 64px;

			a {
				color: #252525;
				text-decoration: none;
			}

			.title {
				text-align: center;
				font-weight: 300;
				font-size: 18px;
				margin-top: 10px;
				margin-bottom: 128px;
			}

			.item {
				border: 1px solid #EAEAEA;
				border-radius: 10px;
				padding: 16px;
				margin: 16px;

				.icon {
					text-align: center;
					margin-top: 32px;
					margin-bottom: 64px;
				}

				p {
					text-align: center;
					font-size: 16px;
				}
			}

			.item:hover {
				background-color: #FAFAFA;
				border-color: #CCCCCC;
				cursor: pointer;
			}
		}
	}

	.form {
		padding-top: 64px;

		.title {
			text-align: center;
			font-weight: 300;
			font-size: 18px;
			margin-top: 10px;
			margin-bottom: 64px;

			.bold {
				font-weight: 500;
			}
		}

		.box {
			padding: 16px;
			margin: 16px;

			.label {
				margin-top: 32px;
				margin-left: 4px;
				margin-right: 4px;
				float: left;
				text-align: left;
				color: #C8C8C8;
				font-size: 14px;
				font-weight: 600;

				.error {
					font-weight: 400;
					color: #FC4850;
				}

				.right {
					width: 100%;
					text-align: right;
					float: right;
				}
			}

			.line {
				border-radius: 5px;
				border: 1px solid #EAEAEA;
				margin-top: 32px;
				margin-bottom: 32px;
				min-height: 1px;
				min-width: 100%;
			}

			.link {
				margin-bottom: 8px;
				text-align: center;
				font-size: 14px;
				color: #252525;
				font-weight: 400;
			}

			button {
				margin-top: 64px;
				text-align: center;
				font-size: 14px;
				color: #FFFFFF;
				background-color: #252525;
				padding: 8px;
				border-radius: 5px;
				min-height: 48px;
				min-width: 200px;
				border: none;
				outline: none;
			}

			button:focus, button:hover {
				outline: none;
				cursor: pointer;
				background-color: #333333;
			}

			input {
				margin-top: 16px;
				padding: 8px 16px;
				height: 32px;
				min-width: 100%;
				min-height: 48px;
				border-radius: 5px;
				border: 1px solid #EAEAEA;
				color: #3F3D56;

				font-size: 16px;
			}

			input:focus {
				outline: none;
				border-color: #3F3D56;
			}

			input::placeholder {
				color: #C8C8C8;
			}

			a {
				color: #252525;
				font-weight: 500;
				text-decoration: none;
				cursor: pointer;
			}

			a:focus,
			a:hover {
				font-weight: 600;
				text-decoration: underline;
			}
		}
	}

	.illustration-content {
		.illustration {
			padding-top: 128px;
			text-align: center;
		}

		.message {
			padding-top: 64px;
			font-size: 18px;
			font-weight: 200;

			text-align: center;

			.bold {
				font-weight: 400;
			}

			.box {
				margin-top: 64px;
				padding: 32px;
				border: 1px solid #FC4850;
				border-radius: 10px;
				text-align: center;

				.note {
					color: #252525;
					font-weight: 400;
					font-size: 16px;

					.red {
						color: #FC4850;
						font-weight: 600;
					}
				}

				.sub-note {
					margin-top: 32px;
					font-weight: 400;
					color: #252525;
					font-size: 14px;

					.bold {
						font-weight: 600;
					}
				}
			}

			.line {
				margin: 32px 64px;
				border: 1px solid transparent;
			}

			a {
				font-size: 16px;
				font-weight: 300;
				color: #3F3D56;
				text-decoration: none;
			}

			a:hover,
			a:focus {
				cursor: pointer;
				text-decoration: none;
				font-weight: 500;
			}
		}
	}
}